<p id="notice"><%= notice %></p>

<h1>Expenses</h1>

<div id = 'expenses-chart'>
  <%= render 'index_chart' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Budget</th>
      <th>Expense category</th>
      <th>Expense date</th>
      <th>Comment</th>
      <th>Value</th>
      <th>Expense owner</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody class = 'expenses-index'>
    <%= render 'index_table' %>
  </tbody>
</table>