<h3>selection form for date / period</h3>
<h4>ajax the form to redraw accordion</h4>


<h3>Accordion to group by week</h3>

<% @budgets.each_slice(2) do |budgets| %>
  <div class="row">
    <% budgets.each do |budget| %>
      <%= render 'reports/card',  budget: budget %>
    <% end %>
  </div>
  <p>
<% end %>